@model List<ProdottoTerminato>

@{
    ViewData["Title"] = "Prodotti Terminati";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Aggiungi Nuovo Prodotto</a>
</p>

<table class="table table-striped">
    <tbody>
        @foreach (var prodotto in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => prodotto.NomeProdotto)</td>
                <td>@Html.DisplayFor(modelItem => prodotto.Quantita)</td>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@prodotto.Id">Modifica</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@prodotto.Id">Elimina</a>
                </td>
            </tr>
            <tr>
                <td>@prodotto.NomeProdotto</td>
                <td>@prodotto.Quantita</td>
            </tr>
        }
    </tbody>
</table>

